<div class="bg-content">   
      <div id="content">
    <div class="container">
          <div class="row">
        <article class="span12">
              <h3><%= t('page.photography.page_title') %></h3>
            </article>
        <div class="clear"></div>
        <ul class="portfolio clearfix">
   <!-- <ul class="thumbnails thumbnails-1 list-services"> -->
		<% (1..6).each do |g| %>
              <li class="span4">
            <div class="thumbnail thumbnail-1">
            <a href="assets/fullsize/portfolio<%= g %>.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/portfolio<%= g %>.jpg"></a>
                  <section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
                <p>Zeleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
              </section>
                </div>
          </li>
        <% end %>
            </ul>
      </div>
        </div>
  </div>
    </div>