<div class="bg-content">          
      <div id="content">
    <div class="container">
          <div class="row">
        <article class="span12">
        <h3><%= t('page.portfolio.page_title') %></h3>
         </article>
        <div class="clear"></div>
         <ul class="portfolio clearfix">
           <li class="box"><a href="assets/fullsize/portrait1.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/portrait1.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/portrait2.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/portrait2.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/portrait3.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/portrait3.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/portrait4.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/portrait4.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/musician1.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/musician1.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/musician2.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/musician2.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/musician3.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/musician3.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/musician4.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/musician4.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/performance1.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/performance1.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/performance2.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/performance2.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/performance3.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/performance3.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/performance4.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/performance4.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/family1.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/family1.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/family2.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/family2.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/family3.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/family3.jpg"></a></li> 
           <li class="box"><a href="assets/fullsize/family4.jpg" class="magnifier" ><img alt="" src="assets/thumbnails/family4.jpg"></a></li>
            </ul> 
      </div>
        </div>
  </div>
    </div>